#lineOne, #sectionOne {
  background: red;
}

.JSstyle {
  font-size: 30px;
}


/*
fieldset {
  padding-bottom: 20px;
  font-family: 'helvetica'
}

select {
  margin: 20px;
}

input {
  margin: 10px;
}

#button {
  padding: 20px 40px;
  background: red;
  border-radius: 8%;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: none;
}
    #button:hover {
    background: tomato;
  }

#select {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.first-class {
  background: blue;
}

.second-class {
  background: green;
}

section {
    padding: 10px;
}
#contact {
  background: lightblue;
}
#thirsty {
  background: tomato;
}
#beverage {
  background: lightgreen;
}
.transportation {
  margin-bottom: 50px;
  background: yellow;
}
 #putThingsHere {
    margin-bottom: 30px;

 }




*/
